:root {
  --gradient-start: #f05371; 
  --gradient-middle: #bd4ed5; 
  --gradient-end: #6186fa; 
}
body {
  background-color: #000000;
  color: #ffffff; 
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  direction: rtl;
}
::-webkit-scrollbar {
  display: none; /* מחבא את סמן הגלילה */
}